<div class="grid transaction-table">
    <p-toolbar class="mb-4 col-12 lg:col-4">
        <app-transaction-form class="flex flex-grow-1" (saveEvent)="add($event)" />
    </p-toolbar>

    <div class="lg:col-8 col-12 transaction-table__content mb-8 flex-column align-items-stretch">
        <app-table-wrapper title="Income" [transactions]="incomeTransactions" (deleteEvent)="delete($event)" />
        <app-table-wrapper title="Expense" [transactions]="expenseTransactions" (deleteEvent)="delete($event)" />
    </div>
    <div class="transaction-table__footer p-3 pl-5 pr-5">
        <h3>Total remaining: {{ totalRemaining | number: '.2' }}</h3>
    </div>
</div>